.about-section {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0;
    position: relative;
    
  }
  

  .about-section {
    padding: 120px 0; /* remove horizontal padding temporarily */
  }
  